@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f4;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.modal {
  @apply w-screen h-screen absolute top-0 flex justify-center items-center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
